#mini-nav a:hover{
    text-decoration: none;
}

#mini-nav span {
    font-size: 0.9em;
}

.texto-info-comunidade {
    text-align: right;
    vertical-align: top;
    width: 90px;
    font-size: 0.9em;

}

.tabela-header {
    font-weight: 500;
    font-size: 0.9em;
}

.td-left {
    padding-left: 5%;
    text-align: left;
}

.td-right {
    padding-right: 5%;
    text-align: right;
}

.bg-listrado-1 {
    background: #ddeefe;
}

.bg-listrado-2 {
    background: #eff8ff;
}

#todos-topicos {
    font-size: 0.9em;
    text-decoration: underline;
    font-weight: 500;
}

#galeria-membros td {
    background: #f0f0f0;
    border: 4px solid white;
}
#add_foto_button{
    background:transparent;
    border:none
}

#galeria-membros img {
    padding: 5px;
}

.color-gray {
    color: rgb(104, 101, 101);
}

.gray-and-bold {
    color: rgb(104, 101, 101);
    font-weight: 500;
}
a{
    color: rgba(68, 68, 219, 0.712);
}
#todos-topicos {
    font-size: 0.9em;
    text-decoration: underline;
    font-weight: 500;
}

#galeria-membros td {
    background: #f0f0f0;
    border: 4px solid white;
}

#galeria-membros img {
    padding: 5px;
}

.borda-top {
    border-top: 1px solid rgba(128, 128, 128, 0.144);
}
.img-resposta {
    width: 80px;
    display: inline-block;
    height: auto;
    padding: 3px;
    border: 1px solid #ddd;
}
.resposta{
    float: left;
    display: block;
    border-bottom: 2px solid white;
}
.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

 .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
  }

  .cropit-preview-image-container {
    cursor: move;
  }

  .cropit-preview-background {
    opacity: .2;
    cursor: auto;
  }

  .image-size-label {
    margin-top: 10px;
  }

  .modal input, .export {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    z-index: 10;
    display: block;
  }

  .modal button {
    margin-top: 10px;
  }