*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    }
    
    #coluna-esquerda{
        height: 100%;
        background: #e458a2;
    }
    
    #conteudo{
        margin: 50px auto;
        width: 400px;
    }
    
    .row, .container-fluid{
     height: 100%; 
    }

    #cadastro{
        width: 92%;
        margin: 0 auto;
    }